body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ---HEADER--- */

.header-logo {
  font-weight: 700;
  font-size: 1.11;
  letter-spacing: -0.03em;
  color: #111111;
}

.header-logo-italic {
  font-style: italic;
}

.header-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111111;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #fd9222;
}
/* 
.header-menu-link:is(:hover, :focus) {
  color: #fd9222;
} */

/* ---HERO--- */
.hero {
  background: rgba(17, 17, 17, 0.6);
}
.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #ffffff;
}
.hero-btn {
  background: #fd9222;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #ffffff;
}
.hero-link-btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #ffffff;
}
.hero-down-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #ffffff;
}

/* ---ADVANTAGES--- */

.advantages {
  background: #1e1823;
}
.advantages-list {
}
.advantages-item {
}
.advantages-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
}
.advantages-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
